<h1>Jobs</h1>

<%if @jobs.any? %>
<ul>
  <% @jobs.each do |job| %>
  <li><%= link_to job.title, job_path(job) %></li>
  <% end %>
</ul>
<% else %>
<h3>There are currently no jobs listed.</h3>
<% end %>
